<section class="section">
  <div class="container" data-aos="fade-left">
    <div class="content">
      <p>
        We hope to run similar events in the future from time to time. If you
        are…
      </p>

      <ul>
        <li>
          someone within a larger church who could consider making a move for
          the gospel,
        </li>
        <li>
          someone who could consider going to a more local church to better
          reach your neighbours,
        </li>
        <li>
          someone already within a new church whose leadership are thinking
          about planting again
        </li>
        <li>
          or someone who is just interested in praying for this work or finding
          out more,
        </li>
      </ul>

      <p>
        …then we'd love to hear from you! You can get in contact with us via the
        <a href="https://www.cambridgeshiregp.org.uk/contact/"
          >Cambridgeshire Gospel Partnership</a
        >
        website.
      </p>
    </div>
  </div>
</section>
