<section class="section" data-aos="fade-left">
  <div class="container">
    <div class="content">
      <p>In God's goodness, the last few decades have seen a number of new churches planted in the Cambridgeshire area
        from conservative evangelical churches. However, the harvest is plentiful and the workers are few. There remain
        large areas of Cambridgeshire and beyond with relatively little gospel witness compared to Cambridge itself.
        This day is designed, under God, to give a vision to the next generation of planters.</p>

      <p>If you are…</p>

      <ul>
        <li>someone within a larger church who could consider making a move for the gospel,</li>
        <li>someone who could consider going to a more local church to better reach your neighbours,</li>
        <li>someone already within new churches whose leadership are thinking about planting again</li>
        <li>or someone who is just interested in praying for this work or finding out more,</li>
      </ul>

      <p>…then do join us on November 11<sup>th</sup>! We would love to see you.</p>
    </div>
  </div>
</section>