<section class="section">
  <div class="container" data-aos="fade-left">
    <div class="content">
      <p>
        Run by members of the
        <a href="https://www.cambridgeshiregp.org.uk/"
          >Cambridgeshire Gospel Partnership</a
        >
        on 11 November 2023, the event was designed to give a vision to the next
        generation of church planters in Cambridgeshire.
      </p>
      <p>
        In God's goodness, the last few decades have seen a number of new
        churches planted in the Cambridgeshire area from conservative
        evangelical churches. However, the harvest is plentiful and the workers
        are few, and there remain large areas of Cambridgeshire and beyond with
        relatively little gospel witness compared to Cambridge itself.
      </p>
    </div>
  </div>
</section>
