<section class="section">
  <div class="container" data-aos="fade-left">
    <div class="content">
      <p>
        <img src="{{ site.baseurl }}/assets/images/banner.jpg" alt="" />
      </p>
      <p>
        On <strong>Saturday 15th November 2025</strong> we will be holding our
        next Collective.
      </p>
      <p>We hope that you are able to join us to catch a vision for</p>
      <ul>
        <li>church planting in the area</li>
        <li>revitalisation of existing churches</li>
        <li>praying for and sending people to plant churches</li>
      </ul>
      <p>
        It will take place at
        <a href="https://maps.app.goo.gl/P3HpJ5GvP9tbz8VKA"
          >St Andrew the Great Church, St Andrew's Street, Cambridge, CB2 3AX</a
        >. The doors will open at 9:40am for a <strong>10:00am</strong> start,
        and the event will close at <strong>12:30pm</strong>.
      </p>
      <p>
        We will be hearing from Richard Coekin about the lessons he learned in
        church planting in South London through the
        <a href="https://www.co-mission.org/">Co-Mission network</a>, as well as
        hearing about local plants and praying together.
      </p>
      <p>
        The event is run by members of the
        <a href="https://www.cambridgeshiregp.org.uk/"
          >Cambridgeshire Gospel Partnership</a
        >
        churches and costs £5 for the morning, but is free for those from member
        churches.
      </p>
      <p>
        It would help us if you are able to let us know in advance if you can
        join us. <a href="https://forms.gle/UjXh45khv4R5p9pi7">Click here</a> to
        sign up or to join the mailing list.
      </p>
    </div>
  </div>
</section>
