<section class="section" id="key-details">
  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column">
          <span class="icon is-medium">
            <i class="fa-solid fa-clock"></i>
          </span>
          <span>
            Saturday 11<sup>th</sup> November 2023, 10am-12:30pm
          </span>
        </div>
        <div class="column">
          <span class="icon is-medium">
            <i class="fa-solid fa-location-dot"></i>
          </span>
          <span>
            <a href="https://goo.gl/maps/HJuabM5KXbgrwYFB9">St Andrew the Great Church, Cambridge</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>