<section class="section" data-aos="fade-left">
  <div class="container">
    <div class="content">
      <h2 class="title">Key info</h2>

      <p>The event is free, but a donation of £3 is invited towards lunch.</p>

      <p>The full address of the church is <a href="https://goo.gl/maps/HJuabM5KXbgrwYFB9"> St Andrew the Great Church,
          St
          Andrews Street, Cambridge, CB2 3AX</a>. There is no parking available at
        the church, so you might like to consider using the <a href="https://cambridgeparkandride.info/">Cambridge Park
          & Ride</a>.</p>

      <p>
        The event is being led by church leaders from the <a href="https://www.cambridgeshiregp.org.uk/">Cambridgeshire
          Gospel Partnership</a> churches, headed
        up by Charlie Newcombe (Christ Church Huntingdon) and Josh Monteiro (Emmanuel Northstowe).</p>
    </div>
  </div>
</section>