<section class="section">
  <div class="container">
    <h2 class="title">Schedule</h2>
    <table class="table is-striped is-hoverable">
      <tbody>
        {% for item in site.data.schedule %}
        <tr>
          <td>{{ item.time }}</td>
          <td>
            <h3 class="has-text-weight-bold mb-0">{{ item.session }}</h3>
            {% if item.notes %}
            {{ item.notes }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>