<section class="section">
    <div class="columns">
      <div class="column content">
        <h2 class="title">Cambridgeshire Planting Collective</h2>
        <p>11 th November 2023, 10am- 12.30pm.</p>

        <p>
          Welcome to the website of the first “Cambridgeshire Planting Collective Day” on Saturday 11 th
          November at St Andrew the Great, St Andrew's Street, Cambridge, CB2 3AX.
        </p>

        <h2 class="title">Cost</h2>

        <p>Cost The event is free, but a donation of £3 is invited towards lunch</p>
      </div>

      <div class="column content">
        <h2 class="title">Schedule</h2>
        <table class="table is-striped is-hoverable is-fullwidth">
          <tbody>
            {% for item in site.data.schedule %}
            <tr>
              <td>{{ item.time }}</td>
              <td>
                <div class="has-text-weight-bold mb-1">{{ item.session }}</div>
                {% if item.notes %}
                <div>
                  {{ item.notes }}
                </div>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</section>