<section class="section" data-aos="fade-left">
  <div class="container">
    <div class="content">
      <h2 class="title">Schedule</h2>
      <table class="table is-fullwidth">
        <tbody>
          {% for item in site.data.schedule %}
          <tr>
            <td>{{ item.time }}</td>
            <td>
              <div class="has-text-weight-bold mb-1">{{ item.session }}</div>
              {% if item.notes %}
              <div>
                {{ item.notes }}
              </div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>