<section class="section">
  <div class="container" data-aos="fade-left">

    <div class="content">
      <h2 class="title">Sign up</h2>

      <p>It would help us if you are able to let us know in advance if you can
        join us, by using the form below. Alternatively, please contact <a
          href="mailto:opsmanager.cch@gmail.com">opsmanager.cch@gmail.com</a> for
        more information.</p>
    </div>

    <form>

      <div class="field">
        <label class="label">Name</label>
        <div class="control has-icons-left">
          <input class="input" type="text" placeholder="Name">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Current church</label>
        <div class="control has-icons-left">
          <input class="input" type="text" placeholder="Current church">
          <span class="icon is-small is-left">
            <i class="fas fa-church"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left">
          <input class="input" type="text" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox">
            I would like to come to the event on 11<sup>th</sup> November
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox">
            I would like lunch (donation of £3 on the day)
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox">
            You can contact me to help in practical ways (e.g. preparing,
            serving lunch, tidying up)
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox">
            I am unable to join this time, but please keep in touch with me about future events
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox">
            I understand that my contact details will not be shared by the administrator of the Cambridgeshire Planting
            Collective and I can unsubscribe from the mailing list at any time
            by emailing <a
              href="mailto:opsmanager.cch@gmail.com">opsmanager.cch@gmail.com</a>.
          </label>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <input type="submit" class="button is-link">Submit</button>
        </div>
      </div>

    </form>

  </div>
</section>