<section class="section">
  <div class="container" data-aos="fade-left">

    <div class="content">
      <h2 class="title">Sign up</h2>

      <p>It would help us if you are able to let us know in advance if you can
        join us, by using the form below. Alternatively, please contact <a
          href="mailto:opsmanager.cch@gmail.com">opsmanager.cch@gmail.com</a> for
        more information.</p>
    </div>

    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLScaqI5yIdvwbXkwUlW0Cis1TEPkD2ABuAWYt8gS4keH8nPoHw/viewform?embedded=true"
      height="419" frameborder="0" marginheight="0" marginwidth="0" id="form">Loading…</iframe>

  </div>
</section>