<section class="section">
  <div class="container">
    <h2 class="title" data-aos="fade-left">Speakers</h2>

    <div class="columns">

      {% for speaker in site.data.speakers %}

      <div class="column">
        <div class="card" data-aos="fade-left">
          <div class="card-image">
            <figure class="image">
              <img src="{{ site.baseurl }}/assets/images/{{ speaker.image }}" alt="Photo of {{ speaker.name }}">
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4">{{ speaker.name }}</p>
            <p class="subtitle is-6">{{ speaker.church }}</p>

            <div class="content">
              {{ speaker.blurb }}
            </div>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
</section>