<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column" data-aos="fade-right">
        <img src="{{ site.baseurl }}/assets/images/richard-coekin.jpg" alt="" />
      </div>
      <div class="content column" data-aos="fade-left">
        <p>
          A sinner saved by God's grace, <strong>Richard Coekin</strong> is
          married to Sian, a beautiful Welsh GP, and blessed with five children,
          three grandchildren and a permanently moulting dog.
        </p>
        <p>
          Richard was for 29 years the Senior Pastor of Dundonald Church in
          South London, which grew from 35 adults and a few children through
          various stages to become a larger church of 800+ adults and 350 kids
          with nine church plants. God also used Richard to help develop the
          <em>Co-Mission</em> church-planting network of 30+ churches in London
          and to launch a variety of gospel ministries (including 9:38, London
          Men's Convention, a Parliamentary Bible Study) and some books (e.g.
          <em>Gospel DNA</em>, <em>Our Father</em>,
          <em>Ephesians for You</em> and <em>The Reluctant Evangelist</em>).
        </p>
        <p>
          Richard is now Director of
          <a href="https://reachministries.uk/">Reach Ministries UK</a>, which
          seeks to encourage church leaders in effective gospel ministries
          through consultancy, mentoring, training and conferences.
        </p>
      </div>
    </div>
  </div>
</section>
