---
---

@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Nunito:400,500,700,800");

$family-sans-serif: "Nunito", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;
$header-padding-y: 1.5rem;
$main-padding-x: 1.5rem;
$section-padding: 1.5rem $main-padding-x;

$content-heading-weight: 800;
$body-weight: 500;
$weight-bold: 800;

$table-background-color: transparent;

$dark-green: rgb(64, 96, 47);
$green: rgb(111, 156, 87);

$primary: $dark-green;
$link: $green;

$link-hover: $link;

@import "bulma";

body {
  // Required to avoid horizontal scrollbars appearing when sections have not
  // been animated yet.
  overflow-x: hidden;
}

header {
  text-align: center;
  padding: $header-padding-y $main-padding-x;
}

#logo {
  max-height: 25vh;
}

main {
  .section:nth-child(odd) {
    background-color: $primary-light;
  }
}

#intro {
  text-align: center;
  font-size: $size-large;
  background-color: $dark-green;
  color: $grey-lightest;
  font-weight: 400;

  strong {
    color: $grey-lightest;
    font-weight: 700;
  }
}

#key-details {
  text-align: center;
  font-size: $size-medium;
}

footer {
  padding: $header-padding-y $main-padding-x;
  background-color: $primary-light;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

#plant-image {
  width: 60px;
}

#cgp-logo {
  width: 200px;
}

a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.content {
  .title {
    margin-bottom: 1rem;
  }
}
