---
---

@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

$family-sans-serif: "Poppins", sans-serif;
$fullhd-enabled: false;
$section-padding: 2rem 1.5rem 0.5rem 1.5rem;

@import "bulma";

.header {
  background-image: url("../images/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  position: relative;

  .hero-body {
    color: black;
    position: relative;
  }
}
