---
---

@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Nunito:500,700,800");

$family-sans-serif: "Nunito", sans-serif;
$fullhd-enabled: false;
$header-padding-y: 1.5rem;
$main-padding-x: 1.5rem;
$section-padding: 0.75rem $main-padding-x;
$section-padding-desktop: 1.25rem $main-padding-x;

$content-heading-weight: 800;
$body-weight: 500;
$weight-bold: 800;

$green: rgb(111, 156, 87);
$link: $green;
$link-hover: $link;

@import "bulma";

header {
  text-align: center;
  padding: $header-padding-y $main-padding-x;
}

#logo {
  max-height: 25vh;
}

main {
  .section:nth-child(odd) {
    background-color: findLightColor($green);
  }
}

#intro {
  text-align: center;
  font-size: $size-medium;
}

a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

footer {
  .container {
    padding: 0 $main-padding-x;
  }
}
